# Entendendo o funcionamento do KNN

Vamos explorar o funcionamento teórico do KNN a partir de um exemplo genérico

In [2]:
import pandas as pd

In [3]:
obj_to_df = {"altura": [1.58, 1.58, 1.58, 1.60, 1.60, 1.63, 1.63], 
             "Peso": [0.58, 0.59, 0.63, 0.59, 0.60, 0.60, 0.61], 
             "Tamanho_Camisa": ["P", "P", "P", "M", "M", "M", "M"]}

df = pd.DataFrame(obj_to_df)

In [4]:
df

   altura  Peso Tamanho_Camisa
0    1.58  0.58              P
1    1.58  0.59              P
2    1.58  0.63              P
3    1.60  0.59              M
4    1.60  0.60              M
5    1.63  0.60              M
6    1.63  0.61              M

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   altura          7 non-null      float64
 1   Peso            7 non-null      float64
 2   Tamanho_Camisa  7 non-null      object
dtypes: float64(2), object(1)
memory usage: 296.0+ bytes

In [6]:
# Ponto Analisado
xy = [1.61, 0.61] # Peso, Altura
xy[0], xy[1]

(1.61, 0.61)

In [7]:
df["distancia"] = ((df["altura"] - xy[0]) ** 2 + (df["Peso"] - xy[1]) ** 2) ** 0.5

# Distância de cada amostra para o par selecionado acima
df

   altura  Peso Tamanho_Camisa  distancia
0    1.58  0.58              P   0.042426
1    1.58  0.59              P   0.036056
2    1.58  0.63              P   0.036056
3    1.60  0.59              M   0.022361
4    1.60  0.60              M   0.014142
5    1.63  0.60              M   0.022361
6    1.63  0.61              M   0.020000

De acordo com o exemplo acima para $k = 5$ devemos ter como retorno o rótulo M

In [9]:
import warnings
warnings.filterwarnings('ignore')

# Aplicando o algoritmo no conjunto
from sklearn.neighbors import KNeighborsClassifier
'''
class sklearn.neighbors.KNeighborsClassifier(n_neighbors=5, *, weights='uniform',
                                            algorithm='auto', leaf_size=30, p=2, metric='minkowski',
                                            metric_params=None, n_jobs=None)
'''
# Instanciando o modelo
knn = KNeighborsClassifier(n_neighbors=5)

# Conjunto de treino
X_treino = df[["altura", "Peso"]]
y_treino = df["Tamanho_Camisa"]

# Treinando o modelo
knn.fit(X_treino, y_treino)

# Prevendo 
knn.predict([xy]), knn.predict_proba([xy])

(array(['M'], dtype=object), array([[0.8, 0.2]]))

O que faz sentido, pois tínhamos 4 valores M que retorna uma probalidade de 0.8 e 1 valor de P com probabilidade de 0.2, já que no total tínhamos 5 valores ([P, M, M, M, M]).